/* global defs */
body{
    direction: rtl;
    text-align: right;
}
.no-padding{
    padding: 0 !important;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.primary-btns{
    border-radius: 20px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
}
.primary-btns *{
    color: white !important;
}
/* bootstrap customize */
.navbar{
    justify-content: right;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    background-color: #ffffff;
    z-index: 1;
}
.navbar-toggler{
    border: none;
    outline: none;
}
button:focus{
    outline: none;
}
.show{
    text-align: center;
}
.collapsing{
    text-align: center;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,168,129)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
/* nav section defs */
#nav-brand{
    color: #008062;
}
#nav-search{
    margin-right: auto;
}
#nav-search button i{
    color: #0BAD88;
}
#justro-logo-layout{
    position: relative;
}
#justro-logo-bg{
    height: 192px;
    position: absolute;
    top: 0px;
    right: -125px;
    z-index: -1;
}
#justro-logo{
    margin-top: 50px;
    display: inline-block;
    margin-right: 3rem;
}
#justro-logo img{
    width: 72px;
    height: 72px;
}
#justro-logo span{
    font-size: 24px;
    color: #007f62;
}
/* better row layout */
#better-row-layout{
    margin-top: 5rem;
}
#better-col-layout__description h3{
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #007f62;
}
#better-col-layout__description hr{
    width: 5rem;
    display: inline-block;
    text-align: left;
    border-top: 3px solid #00a680;
}
#better-col-layout__description span{
    font-size: 1rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
#better-col-layout__imgs{
    width: 100%;
    position: relative;
    text-align: left;
    overflow-x: hidden;
}
#imgs-bg-layout{
    width: 100%;
    height: 95%;
    padding: 0;
    position: absolute;
    background-image: url("./assets/002_slide1_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.imgs-balloon{
    position: absolute;
    z-index: 1;
}
#imgs-balloon1{
    width: 10vw;
    top: 2.5vh;
    right: 12.5vw;
}
#imgs-balloon2{
    width: 7.5vw;
    top: 10vh;
    right: 5vw;
}
#imgs-balloon3{
    width: 7vw;
    top: 5px;
    left: 5px;
}
#slide-toggle-layout{
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slide-toggle-layout div{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #bdbdbd;
    margin: 0 6px;
}
#slide-toggle-layout .selected{
    width: 24px;
    height: 12px;
    border-radius: 6px;
    background-color: #ff7043;
    margin: 0 6px;
}
/* wave1 */
#wave1-layout{
    margin-top: 54px;
    width: 100%;
    height: 142px;
    background-image: url("./assets/011_bg_wave.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* mobileShow-layout */
#mobileShow-layout{
    background-color: red;
    height: 100px !important;
    margin: 0px !important;
}