/* global defs */
body{
    direction: rtl;
    text-align: right;
}
.no-padding{
    padding: 0 !important;
}
.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.primary-btns{
    border-radius: 20px;
    box-shadow: 0px 7px 20px 0 rgba(227, 84, 39, 0.3);
    background-image: linear-gradient(to top, #e35325, #ff8a65);
}
.primary-btns *{
    color: white !important;
}
/* bootstrap customize */
.navbar{
    justify-content: right;
    box-shadow: -2.5px 4.3px 15px 0 #e0e0e0;
    background-color: #ffffff;
    z-index: 1;
}
.navbar-toggler{
    border: none;
    outline: none;
}
button:focus{
    outline: none;
}
.show{
    text-align: center;
}
.collapsing{
    text-align: center;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,168,129)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.btn:focus {
    outline: none;
    box-shadow: none;
}
/* nav section defs */
#nav-brand{
    color: #008062;
}
#nav-search{
    margin-right: auto;
}
#nav-search button i{
    color: #0BAD88;
}
#justro-logo-layout{
    position: relative;
}
#justro-logo-bg{
    height: 192px;
    position: absolute;
    top: 0px;
    right: -125px;
    z-index: -1;
}
#justro-logo{
    margin-top: 50px;
    display: inline-block;
    margin-right: 3rem;
}
#justro-logo img{
    width: 72px;
    height: 72px;
}
#justro-logo span{
    font-size: 24px;
    color: #007f62;
}